.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #282c33;
}
/*
nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vmin;
  width: 100vw;
  color: floralwhite;
  background-color: #282c33;
}
*/
